NODE_ENV=development
GOOGLE_CLOUD_PROJECT=tu_id_de_proyecto_firebase_aqui
GOOGLE_APPLICATION_CREDENTIALS=.\\credentials\\service-account-key.json
BIGQUERY_DATASET=points_system
BIGQUERY_TABLE=points_transactions
PORT=tu_puerto_aqui
API_VERSION=v1
JWT_SECRET=tu_secreto_muy_seguro_aqui
CORS_ORIGIN=tu_ip_aqui